.AddReminder__form {
    margin: 5px;
    border: .5px solid black;
    padding: 10px;
}

.AddReminder__button-container {
    display: flex;
    flex-direction: row;
}

.AddReminder__button {
    margin: auto;
    margin-top: 10px;
}

.error {
    color: brown;
}