button {
    background-color: #F9FAF5;
    border: none;
    min-width: 40px;
    min-height: 40px;
    height: calc(40px + 50 * ((100vw - 320px) / 680));
    width: calc(40px + 50 * ((100vw - 320px) / 680));
    transition-duration: 0.35s;
    padding: 0px 0px 0px 2px;
}

button:hover {
    background-color: #7e193b;
}

img {
    filter: invert(24%) sepia(68%) saturate(793%) hue-rotate(170deg) brightness(95%) contrast(80%);
    height: calc(40px + 50 * ((100vw - 320px) / 680));
    width: calc(40px + 50 * ((100vw - 320px) / 680));
}
