@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
}

footer {
  padding-top: 20px;
  max-height: 70px;
  min-height: 60px;
}

h2 {
  font-family: 'Playfair Display', 'Bodoni MT', 'Didot', 'Times', serif ;
  letter-spacing: 1.5px;
  font-size: calc(28px + 35 * ((100vw - 320px) / 680));;
  margin-bottom: 3%;
  margin-top: 3%;
}

footer {
  font-family: 'Playfair Display', 'Times', serif;
}