@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
}

footer {
  margin-top: 50px;
  padding-top: 20px;
}

main {
  min-height: 90vh;
}

footer {
  font-family: 'Playfair Display', 'Times', serif;
}