@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7e193b;
}

main {
  min-height: 75vh;
  padding-top: 10px;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #F9FAF5;
}


